<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="display-4">LENGUAJES DE PROGRAMACIÓN</h1>
    </div>
  </div>

  <div class="separator">
    <span>. . .</span>
  </div>

  <div class="row ">
    <div class="col-md-3 panel shadow-lg m-2 mx-auto">
      <div>
        <img src="{{ url }}htmlcss.png" alt="" />
      </div>
      <div>
        <h2>HTML y CSS</h2>
        <p>
          Experiencia en el uso de lenguaje de marcado como puede ser html, css
          y boostrap.
        </p>
      </div>
    </div>

    <div class="col-md-3 panel shadow-lg m-2 mx-auto">
      <div>
        <img src="{{ url }}javascript.png" alt="" width="250" />
      </div>
      <div>
        <h2>JavaScript</h2>
        <p>
          Experiencia en el uso de JavaScript y JQuery. También con el uso de
          ajax para comunicarse con PHP
        </p>
      </div>
    </div>

    <div class="col-md-3 panel shadow-lg m-2 mx-auto">
      <div>
        <img src="{{ url }}php.png" alt="" width="250" />
      </div>
      <div>
        <h2>PHP</h2>
        <p>
          Experiencia en el uso del lenguaje de programación PHP usado en
          back-end.
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 panel shadow-lg m-2 mx-auto">
      <div>
        <img src="{{ url }}c.png" alt="" width="250" />
      </div>
      <div>
        <h2>C#</h2>
        <p>
          Experiencia en el uso de C# usado en diferentes proyectos de Unity
          principalmente.
        </p>
      </div>
    </div>

    <div class="col-md-3 panel shadow-lg m-2 mx-auto">
      <div>
        <img src="{{ url }}sql.png" alt="" width="250" />
      </div>
      <div>
        <h2>SQL</h2>
        <p>
          Experiencia en el uso de sentencia SQL. Lo he usado por ejemplo para
          hacer sentencias SQL con PHP.
        </p>
      </div>
    </div>

    <div class="col-md-3 panel shadow-lg m-2 mx-auto">
      <div>
        <img src="{{ url }}java.png" alt="" width="250" />
      </div>
      <div>
        <h2>Java</h2>
        <p>Experiencia en el uso del lenguaje de programación Java.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 panel shadow-lg m-2 mx-auto">
      <div>
        <img src="{{ url }}android.png" alt="" width="250" />
      </div>
      <div>
        <h2>Android Studio</h2>
        <p>Experiencia en uso de Android Studio con Java.</p>
      </div>
    </div>

    <div class="col-md-3 panel shadow-lg m-2 mx-auto">
      <div>
        <img src="{{ url }}unity.png" alt="" width="250" />
      </div>
      <div>
        <h2>Unity</h2>
        <p>
          Experiencia en el uso del motor gráfico de unity tanto en 2D como en
          3D.
        </p>
      </div>
    </div>

    <div class="col-md-3 panel shadow-lg m-2 mx-auto">
      <div>
        <img src="{{ url }}git.png" alt="" />
      </div>
      <div>
        <h2>Git y GitHub</h2>
        <p>Experiencia en el uso del repositorio de Git y Github.</p>
      </div>
    </div>
  </div>
</div>
