
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h1 class="display-4">PRECIOS</h1>
        </div>
        <div class="separator">
            <span>. . .</span>
        </div>
    </div>

    <div class="row panel">

        <div class="col-md-4">
            <div class="card cartaprecios">
                <div class="card-header">
                    <h3 class="card-title">APLICACIÓN MÓVIL</h3>
                </div>
                <div class="card-body">
                    <p class="card-text">A partir de...</p>
                    <h4 class="card-subtitle">99€</h4>
                    <ul class="list-unstyled">
                        <li>Funciones personalizadas por el cliente</li>
                        <li>Actualizaciones periódicas</li>
                        <li>Soporte básico</li>
                        <li>Asesoramiento</li>
                    </ul>
                    <button class="btn btn-primary" routerLink="contact">Contactar</button>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card cartaprecios">
                <div class="card-header">
                    <h3 class="card-title">WORDPRESS</h3>
                </div>
                <div class="card-body">
                    <p class="card-text">A partir de...</p>
                    <h4 class="card-subtitle">99€</h4>
                    <ul class="list-unstyled">
                        <li>Incluye creación personalizada de la pagina web.</li>
                        <li>Posicionamiento SEO</li>
                        <li>Soporte básico</li>
                        <li>Asesoramiento</li>
                    </ul>
                    <button class="btn btn-primary" routerLink="contact">Contactar</button>
                </div>
            </div>
        </div>



        <div class="col-md-4">
            <div class="card cartaprecios">
                <div class="card-header">
                    <h3 class="card-title">A MANO</h3>
                </div>
                <div class="card-body">
                    <p class="card-text">A partir de...</p>
                    <h4 class="card-subtitle">300€</h4>
                    <ul class="list-unstyled">
                        <li>Incluye creación de la página a mano usando html, css etc.</li>
                        <li>Posicionamiento SEO</li>
                        <li>Soporte avanzado</li>
                        <li>Asesoramiento</li>
                    </ul>
                    <button class="btn btn-primary" routerLink="contact">Contactar</button>
                </div>
            </div>
        </div>
    </div>
</div>