<div class="container">


    <div class="row">
        <div class="col-md-12">
            <h1 class="display-4">{{ item.titulo | uppercase }}</h1>
            <div class="separator">
                <span>. . .</span>
            </div>
        </div>
        
    </div>

    <div class="row">
        <div class="col-md-6">
            <img src="{{ item.img }}" alt="" width="300px">
        </div>
        <div class="col-md-6">
            <p>{{ item.descripcion }}</p>
            <p>Link: <a href="{{ item.link }}">{{ item.link }}</a></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2 class="display-6">IMÁGENES</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 m-4 panel shadow-lg mx-auto" *ngFor="let images of imgs" >

            <img *ngIf="imgs" [src]="ruta + 'item-'+id + '/' +images+'.png'" alt="Image">
        </div>
    </div>
    
    
</div>

