<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="display-4">SOBRE MI</h1>
        </div>


    </div>

    <div class="separator">
        <span>. . .</span>
    </div>

    <div class="row panel">
        <div class="col-md-6">
            <img src="{{ urlui }}about.png" alt="about" width="200" height="200">
        </div>
        <div class="col-md-6">
            <p>Hola, mi nombre es Vanesa Ribera Bautista y soy full-stack developer en entorno web, también soy
                programadora de videojuegos.</p>
            <p>Domino varios lenguajes de programación entre los que se incluye:
                C#, Java, JavaScript, PHP, Python, SQL y FileMaker. También lenguajes de marcado como HTML, CSS y
                Boostrap.</p>
            <p>Tengo experiencia en el uso del motor gráfico de Unity, FileMaker, Git/GitHub y WordPress. También
                tengo experiencia en el montaje y mantenimiento de equipos informáticos.</p>
            <p>Dominio de los sistemas informáticos Windows y Linux.</p>
        </div>


    </div>


    <div id="servicios" class="servicios row">

        <div class="col-md-6">
            <h1 class="display-4">SERVICIOS</h1>
        </div>

        <div class="col-md-6">
            <h3 class="lineas">Creación de páginas web</h3>
            <h3 class="lineas">Creación de apps móviles</h3>
            <h3 class="lineas">Creación de videojuegos</h3>
            <h3 class="lineas">Posicionamiento SEO</h3>
        </div>

       
    </div>
    <div class="row servicios">
        <div class="col-md-12">
            <button type="button" class="btn btn-primary" routerLink="services">Ver más</button>
        </div>
    </div>




    <div id="lenguajes" class="row">
        <div class="col-md-12">
            <h1 class="display-4">LENGUAJES DE PROGRAMACIÓN</h1>
        </div>


    </div>

    <div class="separator">
        <span>. . .</span>
    </div>

    <div class="row panel">
        <div class="col-md-12">
            <p>Tengo conocimientos de varios lenguajes de programación entre lo que se incluyen los siguientes:</p>
        </div>
    </div>

    <div class="row imagenes panel">
        <div class="col-md-4 carta">
            <img src="{{ urllenguages }}htmlcss.png" alt="">
            <p>HTML y CSS</p>
        </div>

        <div class="col-md-4 carta">
            <img src="{{ urllenguages }}javascript.png" alt="">
            <p>JavaScript</p>
        </div>

        <div class="col-md-4 carta">
            <img src="{{ urllenguages }}php.png" alt="">
            <p>PHP</p>
        </div>
    </div>
    <div class="row imagenes">
        <div class="col-md-4 carta">
            <img src="{{ urllenguages }}c.png" alt="">
            <p>C#</p>
        </div>

        <div class="col-md-4 carta">
            <img src="{{ urllenguages }}android.png" alt="">
            <p>Android Studio</p>
        </div>

        <div class="col-md-4 carta">
            <img src="{{ urllenguages }}java.png" alt="">
            <p>Java</p>
        </div>
    </div>
    <div class="row imagenes">
        <div class="col-md-4 carta">
            <img src="{{ urllenguages }}sql.png" alt="">
            <p>SQL</p>
        </div>

        <div class="col-md-4 carta">
            <img src="{{ urllenguages }}git.png">
            <p>Git y GitHub</p>
        </div>

        <div class="col-md-4 carta">
            <img src="{{ urllenguages }}unity.png">
            <p>Unity</p>
        </div>
    </div>

    <div class="row panel">
        <div class="col-md-12">
            <button type="button" class="btn btn-primary" routerLink="language">Ver más</button>
        </div>
    </div>


    <div id="portfolio" class="row">
        <div class="col-md-12">
            <h1 class="display-4">PORTFOLIO</h1>
        </div>


    </div>

    <div class="separator">
        <span>. . .</span>
    </div>

    <div class="row panel">

        <div class="col-md-12">
            <p>Tengo bastante experiencia ya que he realizado varios proyectos entre los que se incluyen los siguientes:</p>
            <ul>
                <li>Páginas web completas</li>
                <li>Videojuegos</li>
                <li>Aplicaciones hechas con Android Studio</li>
            </ul>
            <p>Para saber más sobre estas aplicaciones o webs dale al botón descubrir.</p>
        </div>



    </div>

    <div class="row panel">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4 tarjeta">
                    <img class="img-thumbnail" src="{{ urlportfolio }}/item-0/captura1.png" alt="Imagen 1">
                </div>
                <div class="col-md-4 tarjeta">
                    <img class="img-thumbnail" src="{{ urlportfolio }}/item-0/captura3.png" alt="Imagen 2">
                </div>
                <div class="col-md-4 tarjeta">
                    <img class="img-thumbnail" src="{{ urlportfolio }}/item-2/captura3.png" alt="Imagen 3">
                </div>
                <!-- Agrega más columnas y enlaces de imagen aquí -->
            </div>

            <div class="row">
                <div class="col-md-4 tarjeta">
                    <img class="img-thumbnail" src="{{ urlportfolio }}/item-2/captura2.png" alt="Imagen 3">
                </div>
                <div class="col-md-4 tarjeta">
                    <img class="img-thumbnail" src="{{ urlportfolio }}/item-2/captura1.png" alt="Imagen 2">
                </div>
                <div class="col-md-4 tarjeta">
                    <img class="img-thumbnail" src="{{ urlportfolio }}/item-0/captura2.png" alt="Imagen 3">
                </div>
                <!-- Agrega más columnas y enlaces de imagen aquí -->
            </div>

        </div>


    </div>

    <div class="row panel">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4 tarjeta">
                    <img class="img-thumbnail" src="{{ urlportfolio }}/item-3/captura1.png" alt="Imagen 1">
                </div>
                <div class="col-md-4 tarjeta">
                    <img class="img-thumbnail" src="{{ urlportfolio }}/item-3/captura2.png" alt="Imagen 2">
                </div>
                <div class="col-md-4 tarjeta">
                    <img class="img-thumbnail" src="{{ urlportfolio }}/item-3/captura3.png" alt="Imagen 3">
                </div>
                <!-- Agrega más columnas y enlaces de imagen aquí -->
            </div>

            <div class="row">
                <div class="col-md-4 tarjeta">
                    <img class="img-thumbnail" src="{{ urlportfolio }}/item-1/captura0.png" alt="Imagen 1">
                </div>
                <div class="col-md-4 tarjeta">
                    <img class="img-thumbnail" src="{{ urlportfolio }}/item-2/captura0.png" alt="Imagen 2">
                </div>
                <div class="col-md-4 tarjeta">
                    
                    <img class="img-thumbnail" src="{{ urlportfolio }}/item-1/captura2.png" alt="Imagen 1">
                </div>
                <!-- Agrega más columnas y enlaces de imagen aquí -->
            </div>

        </div>
    </div>



    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-primary" routerLink="portfolio">Ver más</button>
        </div>
    </div>



    <div id="precios" class="row">
        <div class="col-md-12">
            <h1 class="display-4">PRECIOS</h1>
        </div>
    </div>

    <div class="separator">
        <span>. . .</span>
    </div>

    <div class="row panel">

        <div class="col-md-4">
            <div class="card cartaprecios">
                <div class="card-header">
                    <h3 class="card-title">APLICACIÓN MÓVIL</h3>
                </div>
                <div class="card-body">
                    <p class="card-text">A partir de...</p>
                    <h4 class="card-subtitle">99€</h4>
                    <ul class="list-unstyled">
                        <li>Funciones personalizadas por el cliente</li>
                        <li>Actualizaciones periódicas</li>
                        <li>Soporte básico</li>
                        <li>Asesoramiento</li>
                    </ul>
                    <button class="btn btn-primary" routerLink="contact">Contactar</button>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card cartaprecios">
                <div class="card-header">
                    <h3 class="card-title">WORDPRESS</h3>
                </div>
                <div class="card-body">
                    <p class="card-text">A partir de...</p>
                    <h4 class="card-subtitle">99€</h4>
                    <ul class="list-unstyled">
                        <li>Incluye creación personalizada de la pagina web.</li>
                        <li>Posicionamiento SEO</li>
                        <li>Soporte básico</li>
                        <li>Asesoramiento</li>
                    </ul>
                    <button class="btn btn-primary" routerLink="contact">Contactar</button>
                </div>
            </div>
        </div>



        <div class="col-md-4">
            <div class="card cartaprecios">
                <div class="card-header">
                    <h3 class="card-title">A MANO</h3>
                </div>
                <div class="card-body">
                    <p class="card-text">A partir de...</p>
                    <h4 class="card-subtitle">300€</h4>
                    <ul class="list-unstyled">
                        <li>Incluye creación de la página a mano usando html, css etc.</li>
                        <li>Posicionamiento SEO</li>
                        <li>Soporte avanzado</li>
                        <li>Asesoramiento</li>
                    </ul>
                    <button class="btn btn-primary" routerLink="contact">Contactar</button>
                </div>
            </div>
        </div>
    </div>


<br>

    <div id="contacto" class="row panel contacto">
        <div class="col-md-6">
            <h1 class="display-4">CONTACTO</h1>
        </div>


        <div class="col-md-6">
            <div class="contact-form">
                <form method="POST" action="php/contacto.php">
                    <div class="form-group">
                        <label for="name">Nombre:</label>
                        <input type="text" id="name" name="name" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="message">Mensaje:</label>
                        <textarea id="message" name="message" required></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>



</div>